.rightbar {
    flex: 3.5;
    background-color:lightskyblue
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
    background-color:lightsteelblue
}

.birthdayContainer {
    display: flex;
    align-items: center;
}

.birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText {
    font-weight: 300;
    font-size: 15px;
}

.rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0
}

.rightbarTitle {
    margin-bottom: 20px;
}

.rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer {
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;

    /* Topbar 때와 마찬가지로 이미지의 우상단위에 online표시를 해주기 위해
    span태그를 활용하고 또한, position값과 위치값을 설정해줘서 현재 유저의
    상태를 표시 */
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}

.rightbarUsername {
    font-weight: 500;
}